/* App.css */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 auto;
  width: 200px;
  background-color: #0c4c5e;
  padding-top: 265px;
  font-size: 12px;
}

.sidebar-content {
  padding: 20px;
  line-height: 2.2;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.top-section {
  display: flex;
  height: 400px;
}

.small-box {
  background-color: #0c4c5e;
  flex: 1;
  padding: 30px;
  text-align: center;
}

.bottom-section {
  flex: 1 1 auto;
  display: flex;
}

.large-box {
  flex: 1;
  background-color: #0c4c5e;
  padding: 10px;
}
h1 {
  font-size: 13px;
  text-align: left;
  color: #2e1336;
}